{% extends "base.html" %}

{% block meta %}

    <meta name="google-site-verification" content="IJiK-LS2ThwdodgTy2nrfSzNF66XOQA2H61IYIZXIIY"/>
    <title>{{ bio.title }} - Claudio Pastorini</title>
    <meta name="description" content="{{ bio.subtitle }}">

{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              "@id": "{{ url_for('bio', _external=True, _scheme='https') }}",
              "name": "Bio",
              "image": "{{ url_for('static', filename = 'images/' + bio.banner, _external=True, _scheme='https') }}"
            }
          }]
        }

    </script>
{% endblock %}

{% block ogmeta %}

    {{ super() }}

    <meta property="og:title" content="{{ bio.title }}"/>
    <meta property="og:description" content="{{ bio.subtitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ url_for('bio', _external=True, _scheme='https') }}"/>
    <meta property="og:image"
          content="{{ url_for('static', filename = 'images/original/' + bio.banner, _external=True, _scheme='https') }}"/>
    <meta property="og:image:width" content="2340">
    <meta property="og:image:height" content="1276">
    <meta property="og:image:type" content="image/jpg">

{% endblock %}

{% block content %}

    <h5>{{ bio.subtitle }}</h5>

    <img class="banner bottom-margin u-max-full-width" title="Claudio Pastorini, sviluppatore Android"
         alt="Foto con Claudio Pastorini, sviluppatore Android" align="middle" src="{{ url_for('static',
        filename = 'images/' + bio.banner) }}">

    {{ bio.html|safe }}

{% endblock content %}