{% extends "base.html" %}

{% block meta %}

    <title>{{ contatti.title }} - Claudio Pastorini</title>
    <meta name="description" content="{{ contatti.subtitle }}">

{% endblock %}

{% block jsonld %}
    <script type="application/ld+json">
        [
            {
              "@context": "http://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                  "@id": "{{ url_for('contatti', _external=True, _scheme='https') }}",
                  "name": "Contatti"
                }
              }]
            },
            {
              "@context": "http://www.schema.org",
              "@type": "person",
              "name": "Claudio Pastorini",
              "jobTitle": "Android Developer",
              "url": "claudiopastorini.github.io",
              "address": {
                "@type": "PostalAddress",
                "streetAddress": "Via Euro 1",
                "postOfficeBoxNumber": "00039",
                "addressLocality": "Zagarolo",
                "addressRegion": "Roma",
                "postalCode": "00039",
                "addressCountry": "Italy"
              },
              "email": "pastorini.claudio@gmail.com",
              "telephone": "+393317480777",
              "birthDate": "1993-06-18",
              "sameAs": [
                "https://plus.google.com/u/0/101728268342302795542",
                "https://twitter.com/pcx93",
                "https://www.facebook.com/pcx93",
                "https://wakatime.com/@pincopallino93",
                "https://github.com/claudiopastorini",
                "https://medium.com/@pcx93",
                "https://telegram.me/pcx93"
              ]
            }
        ]
    </script>
{% endblock %}

{% block ogmeta %}

    {{ super() }}

    <meta property="og:title" content="{{ contatti.title }}"/>
    <meta property="og:description" content="{{ contatti.subtitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{ url_for('contatti', _external=True, _scheme='https') }}"/>
    <meta property="og:image"
          content="{{ url_for('static', filename = 'signature/rounded_profile.png', _external=True, _scheme='https') }}">
    <meta property="og:image:width" content="160">
    <meta property="og:image:height" content="160">
    <meta property="og:image:type" content="image/png">
    <meta property="profile:first_name" content="Claudio">
    <meta property="profile:last_name" content="Pastorini">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="pcx93">
    <meta property="profile:username" content="pcx">
    <meta property="profile:username" content="claudiopastorini">
    <meta property="profile:username" content="scripto">

{% endblock %}

{% block content %}

    <h5>{{ contatti.subtitle }}</h5>

    {{ contatti.html|safe }}

{% endblock content %}