{% extends "base.html" %}

{% block meta %}

    <title>{{ portfolio.title }} - Claudio Pastorini</title>
    <meta name="description"
          content="{{ portfolio.subtitle }}">

{% endblock %}

{% block ogmeta %}

    {{ super() }}

    <meta property="og:title" content="{{ portfolio.title }}"/>
    <meta property="og:description" content="{{ portfolio.subtitle }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ url_for('portfolio', _external=True, _scheme='https') }}"/>

{% endblock %}

{% block content %}

    <h5>{{ portfolio.subtitle }}</h5>

    {{ portfolio.html|safe }}

    {% for section in sections %}

        <div class="portfolio-section">
        <h6 class="portfolio-title">{{ section.title }}</h6>

        {{ section.html|safe }}

        {% for project in projects if project.type == section.slug %}
                {% if loop.index is divisibleby 2 %}
                    <div class="portfolio right-column">
                {% else %}
                    <div class="portfolio left-column">
                {% endif %}
        <a href="{{ url_for('project', path=project.path) }}">
            <div class="portfolio-image-wrapper">
                <img src="{{ url_for('static', filename = 'images/' + project.banner) }}">
            </div>
            </a>
            </div>
            {% else %}
                <p>No stuff.</p>
            {% endfor %}
            </div>

    {% endfor %}

{% endblock content %}